<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>子页</title>

    <link href="/sms/plugins/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/sms/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
    <link href="/sms/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="/sms/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
    <link href="/sms/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet"/>

    <link href="/sms/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet"/>
	<link href="/sms/plugins/select2/css/select2.min.css" rel="stylesheet"/>
	<link href="/sms/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet"/>
	<link href="/sms/plugins/select2/theme/select2-bootstrap.min.css" rel="stylesheet"/>

	<link href="/sms/plugins/select2/theme/select2-bootstrap.min.css" rel="stylesheet"/>

	<link href="/sms/plugins/timepicker/jquery.timepicker.css" rel="stylesheet"/>

</head>
<body>

<div layout:fragment="content" class="container-fluid" style="padding-top:20px;">

    这是母版内容页


</div>
<script src="/sms/plugins/jquery.1.12.4.min.js"></script>
<script src="/sms/plugins/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="/sms/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
<script src="/sms/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/sms/plugins/waves-0.7.5/waves.min.js"></script>
<script src="/sms/plugins/jquery-confirm/jquery-confirm.min.js"></script>

<script src="/sms/plugins/select2/js/select2.min.js"></script>
<script src="/sms/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="/sms/plugins/zTree_v3/js/jquery.ztree.all.min.js"></script>

<script src="plugins/My97DatePicker/WdatePicker.js"></script>
<script src="plugins/My97DatePicker/lang/zh-cn.js"></script>

<script src="plugins/timepicker/jquery.timepicker.js"></script>

<script src="/sms/js/common.js"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>